.navigation {
  background-color: red;

  .container {
    display: flex;
    height: 40px;
    align-items: center;
  }
  [role="button"] {
    margin-left: auto;
  }
}


button {
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
  outline: none;
}


.container {
  max-width: 1024px;
  margin: auto;
}

.post-detail {
  .post-list-item {
    .title {
      display: none;
    }
  }
}

.main-page .description {
  display: none;
}
.edit-comment {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    background-color: white;
    padding: 20px;
    max-width: 300px;
    border-radius: 5px;
    z-index: 1;
  }
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: transparentize(black, 0.5);
  }
}
